test/definition.json
{
  "StartAt": "Step one",
  "States": {
    "Step one": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket": "my-bucket",
        "Key": "my-object",
        "Key.$": "$.myKey"
      },
      "ResultSelector": {
        "document.$": "States.StringToJson($.Body)"
      },
      "Next": "Step two"
    },
    "Step two": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "my-function"
      },
      "ResultSelector": {
        "document.$": "States.StringToJson($.Body)"
      },
      "Next": "Step three"
    },
    "Step three": {
      "Type": "Pass",
      "InputPath": "$.document.something.something",
      "ResultPath": "$.document.somethingNew",
      "End": true
    }
  }
}
